.btn{
    background-color: burlywood;
    height: 200px;
    width: 200px;
    padding: 30px;
    margin: 50px;
    border: 3 solid ;
}
.btn:hover{
    background-color: rgb(180, 42, 42);
    color: blue;
    padding: 300px;
    size: 300px;
    text-shadow: 9cm;
}
